@import '../../../../colors.scss';

.results-wrapper {
  max-height: calc(100vh - 250px);
  overflow: auto;
  justify-content: space-evenly;

  .item-wrapper {
    display: flex;
    justify-content: space-evenly;
    border-radius: 4px;

    .thumbnail {
      transition: .3s;
      border-radius: 0 0 4px 4px;
    }

    .actions {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      opacity: 0;
      transition: all .3s;

      .action-icon {
        font-size: 35px;
        cursor: pointer;
      }
    }

    .title {
      transition: .3s;
      background: rgba($black-color, .9);
      border-radius: 0 0 4px 4px;
      padding: 10px;
      bottom: 0;
      width: 100%;
      height: 50px;
      overflow: hidden;
      font-weight: 500;
    }

    &:hover {
      box-shadow: rgba($black-color, 0.4) 0px 8px 24px;

      .thumbnail {
        opacity: 0.3;
      }

      .actions {
        opacity: 1;
      }

      .title {
        transform: translateY(5px) scale(1.05);
        background: rgba($black-color, 1);
        border-radius: 4px;
      }
    }


  }
}
