<div class="d-flex flex-column">
  <h1 class="popup-title mb-4" mat-dialog-title>{{playlist ? 'Edit ' : 'Create '}}  Playlist</h1>
  <mat-dialog-content class="d-flex flex-column">
    <label class="mb-1">Name</label>
    <input type="text" [formControl]="nameCtrl" class="name-input mb-2">
    <small class="ps-1 text-danger fw-600" *ngIf="nameCtrl.dirty && nameCtrl.hasError('required')">Playlist title is
      required</small>
    <small class="ps-1 text-danger fw-600" *ngIf="nameCtrl.dirty && nameCtrl.hasError('maxlength')">Playlist title is
      too long</small>
  </mat-dialog-content>
  <mat-dialog-actions class="d-flex" align="end">
    <button class="btn btn-success bold" [disabled]="!nameCtrl.valid" mat-button [mat-dialog-close]="nameCtrl.value"
      cdkFocusInitial>SAVE</button>
  </mat-dialog-actions>
</div>
