.auth-wrapper {
    .title {
      font-size: 40px;
    }
  }
  
  .line-before-after {
    display: flex;
  
    &::before,
    &::after {
      content: "";
      flex: 1 1;
      border-bottom: 1px solid;
      margin: auto;
    }
  
    &::before {
      margin-right: 10px;
    }
  
    &::after {
      margin-left: 10px;
    }
  
  }
  
  
  