@import '../../../../colors.scss';

.wrapper {
  // background: $content-bg-color;
  background-image: $login-bg-img;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .title,
  .sub-title {
    font-weight: bold;
    color: $txt-color;
  }

  .title {
    font-size: 50px;
  }

  .sub-title {
    font-size: 35px;
  }

  .card {
    transition: all ease-in .1s;
    background-color: $content-bg-color;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $txt-color;
    cursor: pointer;

    .provider-icon {
      font-size: 50px;
      transition: all ease-in .1s;
    }

    .txt-wrapper {
      transition: all ease-in .1s;
      font-size: 16px;

      .provider-name {
        font-size: 18px;
        font-weight: 600;

      }
    }

    &:hover {

      .provider-icon {
        transform: scale(2.2);
        margin-top: 50px;
      }

      .txt-wrapper {
        opacity: 0;
      }
    }
  }
}
