<div class="d-flex vh-100">
  <div class="auth-wrapper col d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column gap-4 w-50">
      <div>
        <h1 class="m-0 title">Sign In</h1>
        <div class="opacity-3"></div>
      </div>
      <button (click)="signInWithGoogle()" type="button" class="btn btn-light">Sign in with Google</button>
      <div class="text-center opacity-3  line-before-after">or Sign in with Email</div>
      <div *ngIf="form" [formGroup]="form" class="d-flex flex-column gap-4">
        <div>
          <div class="mb-2">Email</div>
          <input formControlName="email" class="w-100 form-control" type="text">
          <small class="text-danger" *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')">
            Email is required
          </small>
          <small class="text-danger" *ngIf="form.get('email')?.touched && form.get('email')?.hasError('email')">
            Email is invalid
          </small>
        </div>
        <div>
          <div class="mb-2">Password</div>
          <input formControlName="password" class="w-100 form-control" type="password">
          <small class="text-danger"
            *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')">
            Email is required
          </small>
          <small class="text-danger"
            *ngIf="form.get('password')?.touched && form.get('password')?.hasError('minlength')">
            Password must contains at least 8 chars
          </small>
        </div>
        <div class="text-danger" *ngIf="signInFailed">
          <small>Email or password are wrong</small>
        </div>
        <div class="d-flex flex-column gap-4">
          <button (click)="signIn()" type="button" class="btn btn-info w-100 text-white">Login</button>
          <div>Not registered yet?
            <a href="">Create an Account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="auth-bg-wrapper  bg-light col d-flex justify-content-center align-items-center">
    <!-- TBD -->
  </div>
</div>
