@import '../../../colors.scss';

.main-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.main-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  background: $black-color;
  padding: 15px 15px 0 15px;
  color: $white-color;



  .link {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    opacity: .7;
    transition: all .3s;

    .title {
      margin-left: 10px;
    }

    &:hover {
      opacity: 1;
    }

    &.is-active {
      background-color: rgba($gray-dark, .7);

      &.list-item {
        background-color: transparent;
        opacity: 1;
      }
    }
  }

  .lists-wrapper {
    max-height: 50vh;
    overflow: auto;
  }


}

.side-nav-content {
  background-image: $main-content-bg-img;
  color: $txt-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .main-header {
    color: $txt-color;
    background: $content-bg-color;
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 260px;

    .user-info {
      .user-img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }

    .notification-wrapper {
      padding: 5px;
      border-radius: 50%;
      background-color: $footer-bg-color;
      cursor: pointer;
    }
  }

  .main-footer {
    background: $footer-bg-color;
    color: $txt-color;
    position: fixed;
    bottom: 0;
    left: 240px;
    right: 0;
    height: 100px;
  }
}

hr {
  color: $txt-color;
  height: 2px;
}
