<div class="d-flex flex-column w-100">
  <div class="d-flex w-100 gap-5">
    <div class="pb-5" *ngIf="top5IL$ | async as results">
      <h1 class="fw-600">Top 5 in Israel</h1>
      <div class="d-flex flex-column results-wrapper gap-5">
        <div class="col" *ngFor="let item of results">
          <app-search-result-item [shouldOpenMenu]="true" (songAdded)="addSongToPlaylist($event)"
            (songStarted)="playSong($event)" [item]="item"></app-search-result-item>
        </div>
      </div>
    </div>

    <div class="pb-5" *ngIf="top5US$ | async as results">
      <h1 class="fw-600">Top 5 in US</h1>
      <div class="d-flex flex-column results-wrapper gap-5">
        <div class="col" *ngFor="let item of results">
          <app-search-result-item [shouldOpenMenu]="true" (songAdded)="addSongToPlaylist($event)"
            (songStarted)="playSong($event)" [item]="item"></app-search-result-item>
        </div>
      </div>
    </div>
  </div>
</div>
