/* You can add global styles to this file, and also import other style files */
@import './colors.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // color: #e8eaed;
}

.btn {
  &:focus {
    box-shadow: none !important;
  }
}

.opacity-3 {
  opacity: 0.3;
}


.bold {
  font-weight: bold !important;
}

mat-icon {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.mat-menu-panel {
  &.dark {
    background-color: $footer-bg-color;
    box-shadow: none;

    .mat-menu-content {
      padding: 0;

      .mat-menu-item {
        color: $txt-color;
      }
    }
  }
}

.p-rel {
  position: relative;
}

.p-abs {
  position: absolute;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
